<!DOCTYPE html>
<html lang="en" ng-app="FruitsApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fruits Shopping App</title>

    <!-- Load Angular -->
    <script src="/angular/angular.min.js"></script>

    <!-- My App -->
    <script src="/index.js"></script>

</head>

<body ng-controller="FruitsCtrl as fruitsCtrl">
    <h2>Fruits Market</h2>
    <form name="fruitsForm" novalidate ng-submit="fruitsCtrl.addToList()">
        <!-- <label name="fruit">Fruit</label>
        <input id="fruit" name="fruit" type="text" ng-model="fruitsCtrl.fruit">
        </br> -->

        <label name="fruit">Fruit</label>
        <select name="fruit" ng-model="fruitsCtrl.fruit">
            <option ng-repeat="x in fruitsCtrl.inventory" value="{{ x }}">{{ x[1] }}</option>
        </select>
        </br>

        <label name="qty">Qty</label>
        <input id="qty" name="qty" type="number" ng-model="fruitsCtrl.qty">
        </br>

        <button type="submit">Add</button>
        <button>Checkout</button>
    </form>
    <h2>My Basket</h2>
    <ul>
        <div ng-repeat="td in fruitsCtrl.fruitList">
            <h2>{{ td[1] }}</h2>
            </br>
            <img ng-src="/img/{{ td[0] }}">
            </br>
            <b>Price: ${{ td[2] }}, Qty: {{ td[3] }}</b>
            </br>
            </br>
            <button type="button" ng-click="fruitsCtrl.delete($index)"> Delete </button>
        </div>
    </ul>
</body>

</html>